{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="row m-auto">
    <div class="col-12 text-center">
        <h1>Главная</h1>
        <p>Вы находитесь на сайте предназначенном для продажи товаров.</p>
        <div class="col-md-auto">
            <div class="row text-center">
                {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            {{ product.product_name }}
                        </div>
                        <div class="card-body">
                            <p class="card-img"><img src="{{ product.preview.url }}" alt="{{ product.product_name }}">
                            </p>
                            <p class="card-text">Описание: {{ product.description|truncatechars:100 }}</p>
                            <a href="{% url 'catalog:description' product.pk %}" class="btn btn-primary">Подробнее</a>
                            <a href="#" class="btn btn-primary">Купить</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}