{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="row m-auto">
    <div class="col-12 text-center">
        <h1>Продукты</h1>
        <p>Здесь вы сможете ознакомиться с ассортиментом нашего магазина</p>
        <div class="col-md-auto">
            <div class="row text-center">
                {% for product in object_list %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            {{ product.product_name }}
                        </div>
                        <div class="card-body">
                            <p class="card-img"><img src="{{ product.preview.url }}" alt="{{ product.product_name }}">
                            </p>
                            <p class="card-text">Описание: {{ product.description|truncatechars:100 }}</p>
                            <a href="{% url 'catalog:product_detail' product.pk %}"
                               class="btn btn-primary">Подробнее</a>
                            {% if user.is_authenticated and perms.catalog.can_unpublish_product and perms.catalog.delete_product %}
                            {% csrf_token %}
                            <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-primary">Редактирование</a>
                            <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-primary">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}