{% extends 'catalog/base.html' %}

{% block title %}Добавить товар{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Добавить новый товар</h1>
    <form method="post">
        <div class="card">
            <div class="card-body">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">
                {% if object %}
                Сохранить
                {% else %}
                Создать
                {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}